asgiref
Django==3.2.8
django-cors-headers
djangorestframework==3.12.4
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
pytest==6.2.5
pytest-django==4.4.0
django-extensions
